<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body bgcolor="#3a3d57" style="margin: 30px auto;" cz-shortcut-listen="true">
	    <table width="90%" style="margin:30px auto">
            <tbody><tr>
                <td>
                    <center>
                        <img src="/assets/img/logo.svg" alt="Trinidad Wiseman Logo" width="300">
                    </center>
                </td>
            </tr>
        </tbody></table>
        <table width="90%" cellspacing="0" style="background-color: #fff; padding: 0px 30px 30px 30px; margin:0 auto; font-family:Verdana, Arial; max-width: 1000px">
            <tbody>
                <tr style="padding-top: 5px; padding-bottom: 5px;">
                    <td width="100%">
                        <table cellspacing="0" border="0" width="100%">
                            <tr>
                                <td style="color: #3d489e; padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid #333;">
                                    <h4>{{previousMonthLabel}} {{thisYear}} - {{user.name}}</h4>
                                </td>
                            </tr>
                        </table>
                    </td> 
                </tr>
                <tr>
                    <td width="100%">
                        <table cellspacing="0" border="0" width="100%">
                            <tr>
                                <td width="25%" style="border-bottom: 1px solid #333; font-weight: bold; padding-top: 15px; padding-bottom: 15px;">Projekt</td>
                                <td width="25%" style="border-bottom: 1px solid #333; font-weight: bold; padding-top: 15px; padding-bottom: 15px;">Töötunnid</td>
                                <td width="25%" style="border-bottom: 1px solid #333; font-weight: bold; padding-top: 15px; padding-bottom: 15px;">Tunnihind</td>
                                <td width="25%" style="border-bottom: 1px solid #333; font-weight: bold; padding-top: 15px; padding-bottom: 15px;">Sissetoodud raha</td>
                            </tr>
                            <tr ng-repeat="project in user.projects">
                                <td width="25%" style="padding-top: 10px; padding-bottom: 10px;">{{project.name}}</td>
                                <td width="25%" style="padding-top: 10px; padding-bottom: 10px;">{{project.hours}}</td>
                                <td width="25%" style="padding-top: 10px; padding-bottom: 10px;">{{project.rate_salary}}</td>
                                <td width="25%" style="padding-top: 10px; padding-bottom: 10px;">{{project.revenue}}</td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px solid #333; font-weight: bold;"></td>
                                <td style="border-bottom: 1px solid #333; font-weight: bold;"></td>
                                <td style="border-bottom: 1px solid #333; font-weight: bold;"></td>
                                <td style="border-bottom: 1px solid #333; font-weight: bold;"></td>
                            </tr>
                            
                            <tr>
                                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;" width="25%">Töötunnid kokku</td>
                                <td style="padding-top: 15px; padding-bottom: 5px;" width="25%">{{user.hours}}</td>
                                <td style="padding-top: 15px; padding-bottom: 5px; font-weight: bold;" width="25%">Sissetoodud raha kokku</td>
                                <td style="padding-top: 15px; padding-bottom: 5px;" width="25%">{{user.revenue}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="100%">
                        <table cellspacing="0" border="0" width="100%">
                            <tr>
                                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;">Palgamudel</td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 5px;">
                                    <span>Brutopalk : </span>
                                    <span style="font-weight: bold">{{user.salary_model.name}}</span>
                                    <span> ({{user.salary_model.equation}})</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="100%">
                        <table cellspacing="0" border="0" width="100%">
                            <tr>
                                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;">Tööpäevi kuus kokku</td>
                                <td style="padding-top: 15px; padding-bottom: 5px;">{{user.workdays}}</td>
                                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;">Töötatud tööpäevi</td>
                                <td style="padding-top: 15px; padding-bottom: 5px;">{{user.worked_days}}</td>
                            </tr>
                            
                            <!--Palgamudel: Põhipalk-->
                            <tr ng-if="user.salary_model.salary_model == 1">
                                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;">Põhipalk</td>
                                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;"></td>
                                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;"></td>
                                <td style="font-weight: bold; color: #31B672; padding-top: 15px; padding-bottom: 5px;">BRUTOPALK</td>
                            </tr>
                            <tr ng-if="user.salary_model.salary_model == 1">
                                <td style="padding-bottom: 5px;">{{user.salary_model.rate_month}}</td>
                                <td style="padding-bottom: 5px;"></td>
                                <td style="padding-bottom: 5px;"></td>
                                <td style="font-weight: bold; color: #31B672; padding-bottom: 5px;">{{user.salary}}</td>
                            </tr>
                            <!--//-->
                            
                            <!--Palgamudel: Tunnipõhine-->
                            <tr ng-if="user.salary_model.salary_model == 2">
                                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;">Tunnid</td>
                                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;">Tunnihind</td>
                                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;"></td>
                                <td style="font-weight: bold; color: #31B672; padding-top: 15px; padding-bottom: 5px;">BRUTOPALK</td>
                            </tr>
                            <tr ng-if="user.salary_model.salary_model == 2">
                                <td style="padding-bottom: 5px;">{{user.hours}}</td>
                                <td style="padding-bottom: 5px;">{{user.salary_model.rate_hour}}</td>
                                <td style="padding-bottom: 5px;"></td>
                                <td style="font-weight: bold; color: #31B672; padding-bottom: 5px;">{{user.salary}}</td>
                            </tr>
                            <!--//-->
                            
                            <!--Palgamudel: Valemipõhine-->
                            <tr ng-if="user.salary_model.salary_model == 3">
                                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;">Põhipalk</td>
                                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;">Lisatasu piir</td>
                                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;">Koefitsient</td>
                                <td style="font-weight: bold; color: #31B672; padding-top: 15px; padding-bottom: 5px;">BRUTOPALK</td>
                            </tr>
                            <tr ng-if="user.salary_model.salary_model == 3">
                                <td style="padding-bottom: 5px;">{{user.salary_model.rate_month}}</td>
                                <td style="padding-bottom: 5px;">{{user.salary_model.bonus_threshold}}</td>
                                <td style="padding-bottom: 5px;">{{user.salary_model.coefficient}}</td>
                                <td style="font-weight: bold; color: #31B672; padding-bottom: 5px;">{{user.salary}}</td>
                            </tr>
                            <tr ng-if="user.salary_model.salary_model == 3">
                                <td style="padding-bottom: 5px; padding-top:15px;"></td>
                                <td style="padding-bottom: 5px; padding-top:15px;"></td>
                                <td style="font-weight: bold; padding-top:15px; padding-bottom: 5px;">Sh lisatasu</td>
                                <td style="font-weight: bold; padding-top:15px; padding-bottom: 5px;">{{user.total_with_bonus}}</td>
                            </tr>
                            <!--//-->
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="100%">
                        <table cellspacing="0" border="0" width="100%">
                            <tr>
                                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;">Palgakalkulaator</td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 5px;"><a href="http://palk.crew.ee/" target="_blank">http://palk.crew.ee/</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="100%">
                        <table cellspacing="0" border="0" width="100%">
                            <tr>
                                <td ng-if="user.comment" style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;">Märkus</td>
                            </tr>
                            <tr>
                                <td ng-if="user.comment" style="padding-bottom: 5px;">{{user.comment}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="90%" style="margin:10px auto 50px auto;">
            <tbody>
                <tr>
                    <td>
                        <center><p style="font-family:Verdana, Arial; margin:0; font-size:13px; color:#fff;">TWN palgaarvestus ja statistika</p></center>
                    </td>
                </tr>
            </tbody>
        </table>
	</body>
</html>