<!DOCTYPE html>
<html ng-controller="mainCtrl" ng-app="App">
<head>
		
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Author" content="Wiseman Interactive Oü"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" value="noindex" />
		
	<link type="text/css" rel="stylesheet" href="/dist/default.css" />
	<link rel="shortcut icon"  href="http://www.twn.ee/TW_favicon_32x32.png" type="image/x-icon"/>
	
	<script type="text/javascript" src="/assets/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/tinymce/tinymce.min.js"></script>
	<script type='text/javascript' src="/assets/aes/aes.js"></script>
	<script type="text/javascript" language="javascript" src="/dist/libs.js"></script>
	<script type="text/javascript" language="javascript" src="/dist/app.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.8/angular-locale_et.min.js"></script>-->
	<title>Palgaarvestus ja statistika</title>
</head>
<body class="" ng-class="{'login-bg':loginPage}">
	<div class="container">
		<ng-include ng-if="!hideNavbar" src="'navbar.tpl'" ng-controller="navbar"></ng-include>
		<div class="view" ng-view="" ng-class="animationClass"></div>
	</div>
    
    <script type="text/ng-template" id="wageEmail.html">
        <div class="modal modal-fade animate-if">
            <ng-include src="'wage-email.tpl'"></ng-include>
        </div>
    </script>
    <script type="text/ng-template" id="archiveEmail.html">
        <div class="modal modal-fade animate-if">
            <ng-include src="'archive-email.tpl'"></ng-include>
        </div>
    </script>
    <script type="text/ng-template" id="accountantEmail.html">
        <div class="modal modal-fade animate-if">
            <ng-include src="'accountant-email.tpl'"></ng-include>
        </div>
    </script>
    <script type="text/ng-template" id="userModal.html">
        <div class="modal modal-fade animate-if">
            <ng-include src="'user-modal.tpl'"></ng-include>
        </div>
    </script>
    <script type="text/ng-template" id="addHoliday.html">
        <div class="modal modal-fade animate-if">
            <ng-include src="'add-holiday.tpl'"></ng-include>
        </div>
    </script>
    <script type="text/ng-template" id="viewHoliday.html">
        <div class="modal modal-fade animate-if">
            <ng-include src="'view-holiday.tpl'"></ng-include>
        </div>
    </script>
    <script type="text/ng-template" id="userConfirmModal.html">
        <div class="modal modal-fade animate-if">
            <ng-include src="'user-confirm-modal.tpl'"></ng-include>
        </div>
    </script>
    <script type="text/ng-template" id="importPrompt.html">
        <div class="modal modal-fade animate-if">
            <ng-include src="'import-prompt.tpl'"></ng-include>
        </div>
    </script>
    <script type="text/ng-template" id="wagePrompt.html">
        <div class="modal modal-fade animate-if">
            <ng-include src="'wage-prompt.tpl'"></ng-include>
        </div>
    </script>
    <script type="text/ng-template" id="addProject.html">
        <div class="modal modal-fade animate-if">
            <ng-include src="'add-project.tpl'"></ng-include>
        </div>
    </script>
    <script type="text/ng-template" id="helpPrompt.html">
        <div class="modal modal-fade animate-if">
            <ng-include src="'help.tpl'"></ng-include>
        </div>
    </script>
    <script type="text/ng-template" id="accountantPrompt.html">
        <div class="modal modal-fade animate-if">
            <ng-include src="'accountant-prompt.tpl'"></ng-include>
        </div>
    </script>
</body>
</html>