//main: build.less
.alert {
    // margin-top: 1.5rem;
    margin-bottom: 0rem;
}

.small-alert { 
    padding-right: 1rem; padding-left: 1rem; 
    i { font-size: 28px; }
}
.animate-if {
    &.ng-enter { transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s; opacity:0; };
    &.ng-enter.ng-enter-active { opacity:1; };
    &.ng-leave.ng-leave-active { opacity:0; };
    &.ng-leave { transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s; opacity:1; };
};
.animate-if-error {
    &.ng-enter { transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s; opacity:0; };
    &.ng-enter.ng-enter-active { opacity:1; };
};
.animate-hide {
    &.ng-hide-add, &.ng-hide-remove {
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    }
    &.ng-hide-add { opacity:0; }
    &.ng-hide-add.ng-hide-add-active { opacity:1; }
    &.ng-hide-remove { opacity:0; }
    &.ng-hide-remove.ng-hide-remove-active { opacity:1; }
};


.animate-hide-remove {
    &.ng-hide-remove {
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    }
    &.ng-hide-remove { opacity:0; }
    &.ng-hide-remove.ng-hide-remove-active { opacity:1; }
};
.fade-element-in-init .fade-element-in.ng-enter { opacity: 1; };
.fade-element-in {
    &.ng-enter { 
        transition: 0.25s linear all; opacity: 0; 
        &.ng-enter-active { opacity: 1 } 
    };
    &.ng-leave { 
        // transition: 0.5s linear all; opacity: 1; 
        &.ng-leave-active { opacity: 0 } 
    };
}
.fade-element-out-init .fade-element-out.ng-enter { opacity: 1; };
.fade-element-out {
    &.ng-enter { 
        transition: 0.25s linear all; opacity: 0; 
        &.ng-enter-active { opacity: 1 } 
    };
    &.ng-leave { 
        transition: 0.25s linear all; opacity: 1; 
        &.ng-leave-active { opacity: 0 } 
    };
}