//main: build.less

@breadcrumbs-padding : 0.5rem;
@breadcrumbs-padding-i : 0.3rem;

.padding-i { color:darkgray; padding-left: @breadcrumbs-padding-i; position: relative; bottom: -1px; font-size: 20px; };
.padding-li { padding-right: @breadcrumbs-padding; };
.breadcrumb { display: flex; margin-bottom: 0rem; }
