/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.highlight{background:#eee; padding:0.75rem 1rem;}

.spacing{display: block; height:24px;}
.small-spacing{display: block; height:16px;}
table{
    table-layout: fixed;
}
table thead th{color:#14cc76}

table input{
    width: 100%;
}
table input.half-width{width:50%}
.btn.btn-primary
{
    border-color:#31B672; 
    background:#31B672;
    width: 160px;
}
.btn.btn-primary:hover
{
    border-color:#26a061; 
    background:#26a061;
    width: 160px;
}
.btn.btn-custom-red {
    background: #F9423A;
    color: #ffffff;
}
.btn.btn-custom-red:hover {
    color: #fff;
    background-color: rgb(255,103,95);
    text-decoration: none;
}
.btn.btn-warning {
    width: 160px;
}
.btn.btn-primary-grey
{
    color:#fff;border-color:#c0c0c0; 
    background:#c0c0c0;
    width: 160px;
}
.btn.btn-primary-purple
{
    color:#fff;
    border-color:#c0c0c0; 
    background:#9B59B6;
    width: 160px;
}
.btn.btn-primary-blue
{
    color:#fff;
    background:#3d489e;
    border-color:#c0c0c0;
    width: 160px;
}
.btn.btn-primary-blue:hover
{
    color:#fff;
    background:#5461bc;
    border-color:#c0c0c0;
    width: 160px;
}

.nav-pills .nav-link.active,
.nav-pills .nav-item.show .nav-link {
    background-color: #14cc76;
    border-color:#14cc76;
}
.btn.btn-outline-primary:hover{border-color:#14cc76; background:#14cc76;}

.text-green{color: #14cc76}

.btn-outline-primary {
  color: #14cc76;
  background-color: transparent;
  border-color: #14cc76;
}
a{color:#14cc76}
a:hover{color:#14cc76}

.navbar {
  z-index: 2;
}
.navbar-inverse .navbar-nav .nav-link.active {
    color: #14cc76;
}
.navbar-inverse .navbar-nav .nav-link {
    color: #fff;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}
.bg-inverse {
  min-height: 4.6rem;
  background-color: #3a3d57;
}

a.bg-inverse:focus, a.bg-inverse:hover {
  background-color: #3a3d57 !important;
}
.pad
{
    padding-left: 10px;
}
.padded
{
    padding-left: 24px;
    padding-right: 24px;
}


.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 97%;
}
.btn-custom
{
    width: 230px !important;
}
