//main: build.less
@datepicker-td-bg: #FFF;

.uib-datepicker-popup {
    td button, th button { background-color: @datepicker-td-bg; border: solid 1px lightgray }
    .uib-left, .uib-right { width: 2rem; }
}