
.circle-checkbox {
    margin-top:10px;
    input[type=checkbox] { visibility: hidden; }
    input[type=radio] { visibility: hidden; }
    input[type=checkbox]:checked + label { background: @wiseman-text; }
    input[type=radio]:checked + label { background: @wiseman-text; }
    width: 16px;
    height: 16px;
    background: #ddd;
    border-radius: 100%;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	label {
        display: block;
      	width: 10px;
      	height: 10px;
      	border-radius: 100px;
      	transition: all .5s ease;
      	cursor: pointer;
      	position: absolute;
      	top: 3px;
      	left: 3px;
      	z-index: 1;
      	background: white;
      	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	}
}
.circle-label { 
    margin-left: 1.4rem;
    position: relative;
    bottom: 19px;
}