//main: build.less

@wiseman-text: #31B672;
@header-color: #3d489e;
@separator-color: #ECEEEF;

.table { margin-bottom: 0rem; }
.file-input { max-width: 90% }
.centered-flex {display: flex; justify-content: flex-end; align-items: center;}
.date-group { z-index: 1 } 
.dropdown-toggle::after { margin-left: .1em; margin-right: .1em; }
.navbar-title { padding-left: 2rem; padding-right: 1rem; }
.bordered-elem { border: 1px solid #eceeef; &.radius { border-radius: 0.25rem } }
img { max-width: 100%; height: auto; }
em { color: grey; font-size: 14px; font-weight: 100;}
.table-bordered td, .table-bordered th.null-th { border-right: 0px; border-left: 0px }
.password-helper { color: grey; font-size: 12px; }
.btn.disabled, .btn:disabled { opacity: 0.4 }
.table td, .table th { vertical-align: middle; }
.separator { border-right: 2px solid @separator-color };
[ng-click] { cursor: pointer; };
.item-update { color: @wiseman-text !important};
.border-error, .ng-invalid-min, .ng-invalid-max { border-color: red !important; };
.border-regular, .ng-valid-min, .ng-valid-max { border-color: rgba(0,0,0,.15); };
.right-align {text-align: right}
.left-align {text-align: left}
.header-text { font-weight: bold; }
.bold { font-weight: bold; }
hr { border-top: 1px solid black };
a img{border:none;}
*:focus{outline:0;}
textarea{resize:none;}
html{overflow:-moz-scrollbars-vertical; font-size:16px;}
a{-moz-outline-style:none;}
img { -ms-interpolation-mode: bicubic; }
.rotated{/* Safari */-webkit-transform: rotate(-90deg);/* Firefox */-moz-transform: rotate(-90deg);/* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.no_select{-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {display: block; margin:0; padding:0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body{margin:0; font-size:16px; padding-bottom: 1.5rem;}
.view {margin-top: 1.5rem; margin-bottom: 1.5rem; }
.padding-right-xs { padding-right: 1rem; }
h1, h2, h3, h4, h5, h6 { color: @header-color; }

@media (max-width: 992px) { 
  .is-collapsed {
    max-height: 400px !important;
  }
}

input::-webkit-input-placeholder { /* WebKit browsers */
  line-height: 1.25;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  line-height: 1.25;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  line-height: 1.25;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  line-height: 1.25;
}
