.inbox-list__header {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 10px 0px;
}
.inbox-list__email:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.inbox-list__email:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.inbox-list__email p {
  margin: auto;
  padding: 5px 0px;
  cursor: pointer;
}
