
@email-stripe-background: rgba(0,0,0,.05);
@email-hover-background: rgba(0,0,0,.06);

.inbox-list {
    &__header {
        div {
            border: 1px solid #eceeef;
            padding: 10px 15px;
            color: #14cc76;
        }
    }
    &__email {
        &:nth-child(odd) {
            background-color: @email-stripe-background;
        }
        &:hover {
            background-color: @email-hover-background;
        }
        p {
            margin: auto;
            padding: 5px 0px;
            cursor: pointer;
        }
    }
}