//main: build.less

@login-bg-color : #3a3d57;
@login-text-color: #fff;
@login-heading: #fff;
@login-input-width: 17rem;
@login-label-width: 5.6rem;
@login-email-input-width: 345px;

body.login-bg { 
    .disallowed-error {
        margin-top: 5rem;
        h2 { padding-top: 3rem !important }
    }
    // min-height: 594px;
    .login__container {
        width: 30rem; margin-top: 3rem; margin-bottom: 3rem; padding-top: 3rem; padding-bottom: 3rem; border-radius: 1rem;
        -webkit-box-shadow: 10px 10px 135px 34px rgba(49,182,114,0.88);
        -moz-box-shadow: 10px 10px 135px 34px rgba(49,182,114,0.88);
        box-shadow: 10px 10px 135px 34px rgba(49,182,114,0.88);
    }
    background-color: @login-bg-color; color: @login-text-color; padding-top: 1.5rem;
    #formHeading { color: @login-heading }
    .login {
        .well {height: 1rem; margin-top: 0.5rem; margin-bottom: 0.5rem; font-size: 13px; }
        h2, h3, h5 { padding-top: 2rem; padding-bottom: 0rem; margin-bottom: 0rem; color: @login-heading}
        .login__input {
            &.email__input {
                margin-bottom: 2rem;
                input { width: @login-email-input-width };    
            }
            &.second { margin-bottom: 1.7rem }
            margin-bottom: 1.375rem;
            input { width: @login-input-width; display: initial;
                &.recovery { display: block; margin: 0 auto; }
            }
            span { display: inline-block; width: @login-label-width; text-align: left; }
        }
        .login__button { 
            margin-bottom: 1.375rem; 
            &.text-right { margin-right: 2.7rem; }
            &.text-left {margin-left: 2.7rem; }
        }
        .login__checkbox { margin-bottom: 0rem; }
        hr { margin-top: 0.5rem; margin-bottom: 1.5rem}
    }
}