
@modal-bg : rgba(220,220,220,0.5);
@modal-max-width: 75vw;
@modal-bold-text: #31B672;
@modal-border-top-color: #3A3D57;
.bold {font-weight: bold};
.heavy-spacing { height: 2rem; };
.modal {
    transition: opacity .25s linear; top: 4.4rem; overflow-y: scroll;
    .modal-bold-text-color { color: @modal-bold-text }
    .modal-body hr { border-top: 1px solid @modal-border-top-color };
    &.modal-fade { background-color: @modal-bg };
    .modal-dialog { 
        max-width: 75vw; @media (max-width: @screen-sm-min) { max-width: 100vw }; 
        &.modal-user { max-width: 65vw; @media (max-width: @screen-sm-min) { max-width: 100vw }; }
        &.modal-import { max-width: 40vw; @media (max-width: @screen-sm-min) { max-width: 100vw }; }
    }
}

.auto-row { margin-bottom: 1rem; margin-top: 1rem; }
.auto-label { margin-top: 0.5rem; }
.auto-complete ul.dropdown-menu { padding: 10px; }
li.uib-typeahead-match {
    a { padding: 5px; }
}
li.uib-typeahead-match:hover {
    a { text-decoration: none; color: black; padding: 5px; }
    background-color: #31B672;
}
.file-name { position: relative; left: 0.5rem; }
.files-name { max-width: 10rem; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis; }
.files-remove { margin-right: 1rem; } 