//main: build.less

.profile {
    .ip-input { width: 100%; display: inline-block; &.pointer-none { pointer-events: none; } };
    .ip_big_label { display: inline-block; margin-bottom: 0.7rem; };
    .ip_switch { display: inline-block; position: relative; top: 7px; left: 20px; };
    .list-item { height: 2.5rem; }
    .ip-action { position: relative; bottom: 2rem; left: 2rem; float: right; };
    .field { margin: 1rem };
    .header { 
        margin-bottom: 1.5rem; margin-left: 1rem;
        &.main-header { margin-left: 0rem; }
    }
    .form-controls { margin-top: 2rem; }
}
.config-label {
    padding: 0.5rem 0.5rem 0rem 0rem;   
}