//main: build.less
@screen-sm-min: 768px;
@screen-sm-max: 768px;
@screen-md-min: 992px;
@screen-md-max: 992px;
@screen-lg-min: 1200px;
@screen-lg-max: 1200px;
.mobile{
	// Font size fix.
	-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; text-size-adjust:100%;
	
	//Scrollivatele DIV-idele peale panna
	//-webkit-overflow-scrolling:touch; overflow: scroll; -ms-overflow-style: none; 
	
	
	// Windows phone viewport. HTML meta tag doesn't work for Windows mobile!
	@-ms-viewport{width:900px;}
	@viewport{width:900px;}
	
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
	.xs-show { display: none; } 
};

/* Small devices (768px and down) */
@media (max-width: @screen-sm-max) { 
	.lengthy { word-wrap: break-word; }
	.xs-none { display: none; } 
	.container {
	    position: relative;
	    margin-left: auto; 
	    margin-right: auto;
	    padding-right: 0px;
	    padding-left: 0px;
	    width: 100%;
	}
	.login__input input { width: 10.7rem !important; }
	.login__input.email__input input { width: 14.5rem !important; }
	.login-logo img { width: 275px; }
	.login-bg .login__container { width: 21rem !important}
	.login-bg .login .login__input span { width: 4.6rem !important; }
	.text-warning { margin-left: 1rem; };
};
@media (max-width: @screen-md-max) { 
	.table { width: auto };
	.table-holder { overflow-x: scroll }
	.md-none { display: none; } 
	.not-collapsed {
	  max-height: 0px;
	  overflow: hidden;
	  transition: max-height 0.25s ease-out;
	};
	.is-collapsed {
	  overflow: hidden;
	  max-height: 280px;
	  transition: max-height 0.25s ease-in;
	}
	.collapse {
		display: inherit;
	}
	.small-alert {
	    i { font-size: 22px; } 
	}
	.modal-dialog {
		max-width: 100% !important;
	}
};

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
	.md-up-none { display: none; } 
	.small-alert {
	    position: relative; top: 0.4rem;
	}
};

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
	.lg-up-none { display: none; } 
};
@media (max-width: @screen-lg-max) { 
	.lg-none { display: none; } 
};