//main build.less

.upper-statistic-row { 
    margin: 0px; 
    &.border-bottom {
        border-bottom: 1px solid #eceeef; 
    }
    &.selected-border {
        border: 1px solid #31B672;
    }
};
.upper-statistic-col { 
    height: 124px; padding-right: 0px; padding-left: 0px;
    label, h5 { margin-top: 3rem; }
}