//main: build.less
@alert-text: #aa0b0b;

.user-alert-text { color: @alert-text }
.ng-invalid-email { border-color: @alert-text }
.user-approve-text { color: @wiseman-text }
.user-inline-radio { display: inline; width: auto;}
.workdays-inline-label { margin-left: .5rem; margin-right: 1.5rem; position: relative; bottom: -1px; margin-top: 0.4rem;}
.primary-label { width: 100%; }
.auto-width { width: auto; }
.recipient-close { margin-top: 0.6rem; }
.project-close { margin-top: 0.4rem; }