//main: build.less
@wage-bg-color: #eceeef;

.salary-element { height: 1.5rem; }
.user-wage {
    .orientation-items { 
        span { font-size: 24px; }
        i { font-size: 26px; }
    }
    section.wage-section { 
        textarea { resize: both; width: 60%; }
        @media (max-width: @screen-lg-max) { 
            textarea { resize: both; width: 100%; }
        } 
        padding: 1rem; border: 1px solid @wage-bg-color;
        &.wage-bg { background-color: @wage-bg-color; };
        .wage-section__confirm { 
            height: 40px; 
            div { padding-top: 0.5rem };
        }
        .wage-row {                    
            margin-top: 0.5rem;
        }
        .separated { margin-top: 1rem }
        .wage-label {margin-right: 1rem };
        hr { border-top: 1px solid @wage-bg-color };
    }
}
