<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
	</head>
	<body bgcolor="#3a3d57" style="margin:0 auto;">
        <table width="1000px" style="background-color: #fff; padding: 0px 20px 20px 20px; margin:0 auto; border:none; font-family:Verdana, Arial; -webkit-border-radius:10px; border-radius:10px;">
            <tr style="padding-top: 5px; padding-bottom: 5px;">
                <td colspan="100%" style="color: #3d489e; border-bottom: 1px solid #333; padding-top: 5px; padding-bottom: 5px;">
                    <h4>{{previousMonthLabel}} {{thisYear}} - {{user.name}}</h4>
                </td>
            </tr>
            <tr>
                <td width="25%" style="font-weight: bold; padding-top: 5px; padding-bottom: 15px;">Projekt</td>
                <td width="25%" style="font-weight: bold; padding-top: 5px; padding-bottom: 15px;">Töötunnid</td>
                <td width="25%" style="font-weight: bold; padding-top: 5px; padding-bottom: 15px;">Tunnihind</td>
                <td width="25%" style="font-weight: bold; padding-top: 5px; padding-bottom: 15px;">Sissetoodud raha</td>
            </tr>
            <tr ng-repeat="project in user.projects">
                <td width="25%" style="padding-bottom: 5px;">{{project.name}}</td>
                <td width="25%" style="padding-bottom: 5px;">{{project.hours}}</td>
                <td width="25%" style="padding-bottom: 5px;">{{project.rate_salary | number: 2}}</td>
                <td width="25%" style="padding-bottom: 5px;">{{project.revenue | number: 2}}</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid #333; font-weight: bold; padding-top: 15px; padding-bottom: 5px;" width="25%">Töötunnid kokku</td>
                <td style="border-top: 1px solid #333; padding-top: 15px; padding-bottom: 5px;" width="25%">{{user.hours}}</td>
                <td style="border-top: 1px solid #333; padding-top: 15px; padding-bottom: 5px; font-weight: bold;" width="25%">Sissetoodud raha kokku</td>
                <td style="border-top: 1px solid #333; padding-top: 15px; padding-bottom: 5px;" width="25%">{{user.revenue}}</td>
            </tr>
            <tr>
                <td colspan="100%" style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;">Palgamudel</td>
            </tr>
            <tr>
                <td colspan="100%" style="padding-bottom: 5px;">
                    <span>Brutopalk : </span>
                    <span style="font-weight: bold">{{user.salary_model.name}}</span>
                    <span> ({{user.salary_model.equation}})</span>
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;" width="25%">Tööpäevi kuus kokku</td>
                <td style="padding-top: 15px; padding-bottom: 5px;" width="25%">{{user.workdays}}</td>
                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;" width="25%">Töötatud tööpäevi</td>
                <td style="padding-top: 15px; padding-bottom: 5px;" width="25%">{{user.worked_days}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;">Põhipalk</td>
                <td style="padding-top: 5px; padding-bottom: 5px;"></td>
                <td style="font-weight: bold; color: #31B672; padding-top: 15px; padding-bottom: 5px;">BRUTOPALK</td>
                <td style="padding-top: 5px; padding-bottom: 5px;"></td>
            </tr>
            <tr>
                <td style="padding-bottom: 5px;">{{user.salary_model.rate_month}}</td>
                <td style="padding-top: 5px; padding-bottom: 5px;"></td>
                <td style="font-weight: bold; color: #31B672; padding-bottom: 5px;">{{user.salary}}</td>
                <td style="padding-top: 5px; padding-bottom: 5px;"></td>
            </tr>
            <tr>
                <td colspan="100%" ng-if="user.comment" style="font-weight: bold; padding-top: 15px; padding-bottom: 5px;">Täiendav märkus töötajale</td>
            </tr>
            <tr>
                <td colspan="100%" ng-if="user.comment" style="padding-bottom: 5px;">{{user.comment}}</td>
            </tr>
        </table>
	</body>
</html>